/* style.css */
.box {
    background-color: #002504;
    background: url(images/background/background.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

html {
    background-color: #002504;
}

/* ※中央寄せしたいだけなので、ここから先は本題と関係ない */
html,
body,
.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    height: auto;
    padding-top: 300px;
}

@media screen and (max-width: 480px) {
    main {
        width: 100%;
        height: auto;
        padding-top: 25%;
    }
}

/*header部分の設定*/
header {
    /* 上部から配置の基準位置を決める */
    /* 左から配置の基準位置を決める */
    position: fixed;
    /* ヘッダーを固定する */
    top: 0;
    /* 上部から配置の基準位置を決める */
    justify-content: center;
    background-color: black;
    background: url(images/top/back_footer.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: 200;
    width: 100%;
    height: auto;
}

footer {
    /*width(横幅)は表示される画面と同じ*/
    width: 100%;
    height: auto;
    /*表示順(z軸でどの位置にいるか)*/
    color: #9ca3af;
    background-color: black;
    background: repeat url(images/top/back_footer.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    bottom: 0;
}

/* body部分の設定 */
body {
    background: #1d3022;
    /*背景の色変更(画像に差し替え予定)*/
    background: repeat url(images/background/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /*文字フォントの設定*/
    font-family: Arial, sans-serif;
    /*ブラウザの標準余白の表示設定*/
    margin: 0px 5px 0px 5px;
    /*ヘッダー分の余白をbodyの上部に追加*/
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    /**/
}

.header_transform {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.header_inner_logo {
    display: flex;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    justify-content: space-around;
}

.header_title_logo {
    width: 100%;
    max-width: 100%;
}

@media screen and (max-width: 480px) {
    .header_inner_logo {
        display: flex;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }

    .header_title_logo {
        width: 100%;
        max-width: 100%;
        margin-top: 8px;
        margin-left: 5px;
    }
}

.titlerogo-box {
    text-align: center;
    width: 100%;
    max-width: 40%;
}

.header_title_logo {
    width: 100%;
    max-width: 100%;
}

.tel-box {
    width: 100%;
    max-width: 45%;
    padding-left: 18px;
    margin: 10px;
}

@media screen and (max-width: 480px) {
    .tel-box {
        width: 100%;
        max-width: 45%;
        padding-left: 18px;
        margin: 5px;
    }
}

.tel-box-top {
    width: 100%;
    max-width: 100%;
}

.tel-box-top {
    width: 100%;
    max-width: 100%;
}

.header_inner_menu {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.header_inner_menu img {
    /* 画像の横幅を170pxに固定 */
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
    /* 高さは画像比率に応じて自動調整 */
    object-fit: contain;
    /* 画像の比率を保ったまま、はみ出さないよう調整 */
}

.UI_top_funeral {
    width: 100%;
    height: auto;
    max-width: 200px;
}

.top_main_box {
    width: 100%;
    height: auto;
    justify-items: center;
}


.main-box {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.top_carouselArea {
    justify-content: center;
    display: flex;
    /*上下に余白を追加*/
    margin-top: 15px;
    margin-bottom: 15px;
}

/*カルーセルエリア*/
.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    width: 500px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

@media screen and (max-width: 480px) {
    .carousel {
        align-items: center;
        justify-content: center;
        position: relative;
        display: flex;
        width: 400px;
        height: 200px;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
        object-fit: cover;
    }
}

/*カルーセルエリア内の表示画像の設定*/
.slides {
    display: flex;
    width: 300%;
    height: 300%;
    transition: transform 0.5s ease;
}

.slide {
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.slide1 {
    background-image: url(images/news/toujyuin/toujyuin01.jpg);
}

.slide2 {
    background-image: url(images/news/iouji/iouji01.jpg);
}

.slide3 {
    background-image: url(images/news/enkouji/enkouji01.jpg);
}

.slide4 {
    background-image: url(images/news/toukouin/toukouin01.jpg);
}

.slide5 {
    background-image: url(images/news/hourenji/tokyo06.jpg);
}
.slide6 {
    background-image: url(images/news/kakusyouji/tokyo09.jpg);
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: rgb(0, 91, 94);
    color: rgb(252, 255, 45);
    border: none;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    font-size: 30px;
    border-radius: 5px;
}

.nav-button.prev {
    left: 0px;
}

.nav-button.next {
    right: 0px;
}

.nav-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* デフォルトで表示されるラジオボタンの非表示 */
input[type="radio"] {
    display: none;
}

/* ナビゲーションのドット */
.navigation {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}

.bar {
    width: 10px;
    height: 10px;
    background: rgb(0, 47, 41);
    border-radius: 50%;
    cursor: pointer;
}

/* クリックされたドットによってスライドの表示位置を変化させる */
#slide1:checked~.slides {
    transform: translateX(0);
}

#slide2:checked~.slides {
    transform: translateX(-100%);
}

#slide3:checked~.slides {
    transform: translateX(-200%);
}

#slide4:checked~.slides {
    transform: translateX(-300%);
}

#slide5:checked~.slides {
    transform: translateX(-400%);
}
#slide6:checked~.slides {
    transform: translateX(-500%);
}

/* 選択中のドットの色を変更 */
#slide1:checked~.navigation label[for="slide1"],
#slide2:checked~.navigation label[for="slide2"],
#slide3:checked~.navigation label[for="slide3"],
#slide4:checked~.navigation label[for="slide4"],
#slide5:checked~.navigation label[for="slide5"],
#slide6:checked~.navigation label[for="slide6"] 
{
    background: rgb(252, 255, 45);
    ;
}

/*新着情報の欄*/
.top_news_section {
    justify-content: center;
    margin-bottom: 100px;
}

.top_news_section_inner {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.top_news {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.news_card {
    width: 320px;
    height: 320px;
    background: #0000008c;
    border-radius: 3px;
    margin: 5px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.news_card_picture {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


.news_description {
    width: 100%;
    height: 55px;
    padding-right: 12px;
    padding-left: 12px;
    box-sizing: border-box;
}

.news_description p {
    font-size: 18px;
    color: white
}

.news_description_footer {
    color: white;
    padding-left: 13px;
    font-size: 13px;
    line-height: 17px;
}

.top_news_box {
    padding: 30px;
    display: flex;
    justify-items: center;
}

.footer_banner {
    display: flex;
    justify-content: center;
}

.footer_text {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.news_link_image {
    width: 100%;
    height: auto;
    min-height: 80px;
}

@media screen and (max-width:480px) {
    .footer_banner_image {
        margin-left: 10px;
        max-width: 100px;
    }

    .news_link_image {
        width: 100%;
        height: auto;
    }
}

/*トップページの最上部にあるバナー*/
.top_banner {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.top_banner img {
    width: 400px;
}

@media screen and (max-width: 480px) {
    .top_banner img {
        width: 100%;
        max-width: 250px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

/*indexのh1の設定を変更する*/
h1 {
    color: #2a9f5d;
    font-size: 48px;
}

h2 {
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-size: 35px;
}

.info_main_inner {
    display: block;
    justify-content: center;
}

/*お問い合わせフォーム*/
.info_main_inner_box {
    display: contents;
    align-items: center;
    width: 100%;
    height: auto;
}

.info_main_inner_from-Item {
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 100px;
}

/*お問い合わせフォームのインプットテーブル*/
.from {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 750px;
    padding-bottom: 28px;
}

.from-Item {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 28px;
    margin: auto;
    background: #a2a2a2d2;
    border: 1px solid #ddd;
    border-radius: 6px;
    display: grid;
    align-items: center;
    margin-right: 10px;
    padding-left: 20px;
}

.from-Item-Label {
    width: 100%;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 18px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.from-Item-Label.isMsg {
    margin-top: 8px;
    margin-bottom: auto;
}

.from-Item-Label-Required {
    border-radius: 6px;
    margin-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 48px;
    display: inline-block;
    text-align: center;
    background: #5bc8ac;
    color: #ffffff;
    font-size: 14px;
}

.from-Item-Input {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 10%;
    padding-left: 1em;
    padding-right: 1em;
    height: 48px;
    flex: 1;
    width: 100%;
    max-width: 65%;
    background: #eaedf2;
    font-size: 18px;
}

.from-Item-Textarea {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 10%;
    padding-left: 1em;
    padding-right: 1em;
    height: 216px;
    flex: 1;
    width: 100%;
    max-width: 65%;
    background: #eaedf2;
    font-size: 18px;
}

.from-Btn {
    border-radius: 6px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 280px;
    display: block;
    letter-spacing: 0.05em;
    background: #5bc8ac;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.from_contact {
    display: -moz-groupbox;
    justify-content: center;
    grid-template-columns: 100%;
    width: 400px;
    height: 100%;
    margin: 0 auto;
    padding: 2rem;
}


/*お寺紹介ページ*/
.profile-list {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    justify-items: center;
    justify-content: center;
}

.profile-card {
    border: 2px solid #002f3a;
    border-radius: 8px;
    margin: 20px auto;
    padding: 10px;
    width: 100%;
    height: auto;
    max-width: 80%;
    background-color: #00432ee9;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.profile-name {
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 15px 0;
    color: #ffce2f;
}

.profile-content {
    display: flex;
    gap: 16px;
    align-items: flex-start;
}

.profile-image {
    width: 100%;
    height: auto;
    max-width: 40%;
    /*オブジェクトから画像がはみ出していたら*/
    object-fit: cover;
    flex-shrink: 0;
    padding-right: 10px;
}

.profile-details {
    flex-grow: 1;
}

.profile-description,
.profile-address {
    font-size: 14px;
    color: #ffffff;
    margin: 4px 0;
}

@media screen and (max-width: 480px) {
    .profile-card {
        width: 70%;
        height: auto;
        border: 2px solid #002f3a;
        border-radius: 8px;
        padding: 20px;
        margin: 20px auto;
        max-width: 900px;
        background-color: #00432ee9;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }

    .profile-content {
        display: block;
        gap: 16px;
        align-items: flex-start;
    }

    .profile-image {
        width: 100%;
        height: auto;
        max-width: 100%;
        /*オブジェクトから画像がはみ出していたら*/
        object-fit: cover;
        flex-shrink: 0;
        padding-right: 10px;
    }

}

.btn {
    display: inline-block;
    margin-top: 8px;
    padding: 8px 16px;
    background-color: #0078D4;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-size: 20px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #005ea2;
}

/*共通パーツ*/
.inquiry_box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inquiry_image {
    width: 400px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 600px;
}

@media screen and (max-width: 480px) {
    .inquiry_box {
        display: flex;
        justify-content: center;
    }

    .inquiry_image {
        width: 100%;
        height: auto;
        margin-top: 30px;
        margin-bottom: 10px;
        max-width: 200px;
    }
}

/*永代供養墓*/

.eidaikuyou_top_image_box {
    margin-top: 5%;
    text-align: center;
}

.eidaikuyou_box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.eidaikuyou_image {
    max-width: 600px;
}

/*永代供養の説明用ボックス*/
.eidaikuyou_explanation_box {
    width: 100%;
    height: auto;
    min-width: 100px;
    min-height: 100px;
    max-width: 90%;
    background-color: #00a99d;
    border-radius: 40px;
    left: 0;
    margin-left: 5%;
    padding-bottom: 5%;
}

.eidaikuyou_explanation_center_box {
    text-align: center;
    margin-bottom: 5%;
}

.eidaikuyou_explanation_headline_text {
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding: 30px;
    text-align: left;
}

.eidaikuyou_explanation_headline_bottom_text {
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 5%;
}

.eidaikuyou_explanation_text_box {
    width: 100%;
    height: auto;
    justify-items: center;
}

.eidaikuyou_explanation_price_text_box {
    width: 100%;
    height: auto;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
    max-width: 500px;
}

.eidaikuyou_explanation_price_text {
    margin-left: 10%;
}

.eidaikuyou_explanation_text {
    color: white;
    font-size: 18px;
    padding-left: 5%;
    padding-right: 5%;
}

.eidaikuyou_explanation_price_box {
    width: 100%;
    height: auto;
    display: flex;
}

.eidaikuyou_explanation_price_image_box {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    gap: 10%;
    flex-wrap: wrap;
}

.eidaikuyou_explanation_image {
    width: 100%;
    height: auto;
    max-width: 200px;
}

@media screen and (max-width: 480px) {
    .eidaikuyou_box {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .eidaikuyou_image {
        width: 100%;
        height: auto;
        max-width: 300px;
    }

    .eidaikuyou_explanation_image {
        width: 100%;
        height: auto;
        max-width: 100px;
        max-height: 150px;
    }
}

/*葬儀*/
.funeral_image {
    width: 100%;
    height: auto;
    max-width: 700px;
    margin-top: 10px;
}

@media screen and (max-width: 480px) {
    .funeral_image {
        width: 100%;
        height: auto;
        max-width: 350px;
        margin-top: 10px;
    }
}

/*墓の移動*/
.moving_title {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    font-size: 50px;
    color: white;
    font-weight: bold;
    margin: 15px;
}

@media screen and (max-width: 480px) {
    .moving_title {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding-top: 15px;
        width: 100%;
        height: auto;
        font-size: 13px;
        color: white;
        font-weight: bold;
    }
}

.moving-cell-table {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    border: 1px solid #333;
}

.table-row {
    display: flex;
}

.title-cell {
    flex: 1;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: 16px;
    text-align: center;
    background-color: #ffffffe9;
    font-size: 30px;
    font-weight: bold;
}

.cell {
    flex: 1;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: 16px;
    text-align: center;
    background-color: #ffffffaa;
    font-size: 30px;
    font-weight: bold;
}

.table-row .cell:last-child {
    border-right: none;
}

.table-row:last-child .cell {
    border-bottom: none;
}

/*墓石の表示*/

.stone_title_text {
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin: 15px;
}

.stone_inner {
    display: block;
    justify-items: center;
}

.stone_title {
    color: #ff3;
    font-size: 45px;
    font-weight: bold;
}

.description-image-box {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 22px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    gap: 20px;
}

.stone_title {
    margin-top: 10px;
}

.description-image-box img {
    width: 90%;
    height: auto;
    justify-items: center;
}

.description-box {
    text-align: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-left: 50px;
    padding-right: 50px;
    border: 2px solid #ffffff;
    padding: 15px;
    background-color: #00A99D;
    border-radius: 5%;
    max-width: 80%;
    line-height: 1.6;
    font-size: 20px;
    margin: 0 auto;
}

.stone_title_box {
    text-align: center;
}

@media screen and (max-width: 480px) {
    .description-button {
        text-align: center;
    }

    .stone_title_text {
        font-size: 20px;
        color: white;
        font-weight: bold;
        padding-bottom: 10%;
        text-align: center;
        margin-top: 5%;
    }

    .stone_title {
        color: #ff3;
        font-size: 20px;
        font-weight: bold;
    }

    .description-image-box {
        display: flex;
        justify-content: center;
        color: white;
        font-size: 10px;
        gap: 30px;
        box-sizing: border-box;

    }

    .description-image-box img {
        width: 100%;
        height: auto;
    }

    .description-box {
        border: 2px solid #ffffff;
        background-color: #00A99D;
        border-radius: 5%;
        width: 100%;
        height: auto;
        max-width: 75%;
        max-height: 40%;
        line-height: 1.6;
        font-size: 20px;
        font-size: 20px;
    }

    .temple_profile_container {
        background-color: #004536;
        border-radius: 1rem;
        margin: 2rem auto;
        padding: 2rem;
        width: 85%;
        max-width: 1200px;
        border: 2px solid #002f3a;
        color: white;
    }
}

.description-button {
    text-align: center;
}


h3 {
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.temple_profile_name_block {
    display: flex;
    align-items: baseline;
}

.temple_profile_container {
    background-color: #004536;
    border-radius: 1rem;
    margin: 2rem auto;
    padding: 2rem;
    width: 80%;
    max-width: 1200px;
    border: 2px solid #002f3a;
    color: white;
}

.temple_profile_header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.temple_profile_name {
    font-size: 3rem;
    font-weight: bold;
    color: #ffef57;
}

.furigana {
    font-size: 1.3rem;
    color: #ffef57;
}

.temple_profile_tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.temple_profile_tag {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    border-radius: 8px;
}

.toptag {
    background-color: #ffe66d;
    color: #000;
}

.undertag {
    background: linear-gradient(#adfff4, #2ee6d9);
    color: #000;
}

.temple_profile_inner_container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    gap: 2rem;
    border-bottom: 1px solid white;
}

.temple_profile_text_container {
    flex: 1 1 300px;
}

.temple_profile_description_large {
    font-size: 1.6rem;
    color: #ffef57;
    font-weight: bold;
}

.temple_profile_description_small {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    color: white;
}

.temple_profile_image_box {
    flex: 1 1 300px;
    text-align: center;
}

.temple_profile_image_top img,
.temple_profile_image_row img {
    width: 100%;
    margin-bottom: 1rem;
}

.temple_profile_image_row {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.temple_profile_image_row img {
    width: 48%;
}

.temple_profile_contact {
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.info_button {
    width: 100%;
    max-width: 350px;
    display: block;
    margin: 1 auto 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.temple_profile_map iframe {
    width: 100%;
    border-radius: 1rem;
    margin-top: 2rem;
}

.temple_profile_homepage {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.temple_profile_button {
    background-color: #ffef57;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 1rem;
    color: black;
    font-weight: bold;

}

@media screen and (max-width: 480px) {

    .temple_profile_container {
        padding: 1rem;
        width: 85%;
    }

    .temple_profile_header {
        flex-direction: column;
        align-items: flex-start;
    }

    .temple_profile_tags {
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .temple_profile_inner_container {
        flex-direction: column;
        gap: 1rem;
    }

    .temple_profile_image_box {
        text-align: center;
    }

    .temple_profile_image_row {
        flex-direction: column;
    }

    .temple_profile_image_row img {
        width: 100%;
    }

    .info_button {
        width: 100%;
    }

    .temple_profile_map iframe {
        height: 300px;
    }

    .temple_profile_contact {
        font-size: 1rem;
    }

    .temple_profile_name {
        font-size: 3rem;
        font-weight: bold;
        color: #ffef57;
    }

    .furigana {
        font-size: 1.2rem;
        color: #ffef57;
    }

    .temple_profile_name_block {
        display: flex;
        align-items: baseline;
        margin-bottom: 1rem;
        /* 名前とふりがなの文字の下線を揃える */
    }
}