@charset "UTF-8";
@media screen and (max-width: 768px){
*{
	margin:0;
	padding:0;
}

body { 
	color: #1b1a1a;
	margin:0;
	padding:0;
	font-family: 'Noto Sans JP', sans-serif;
	width:100%;
	webkit-text-size-adjust: 100%;
}

img{
	border:0;
	margin:0;
	vertical-align: bottom;
}

table,tr,td {
	border-collapse: collapse; 
}

ul{
	list-style-type: none;
}

a img {
	-webkit-transition: 0.3s ease-in-out;
	   -moz-transition: 0.3s ease-in-out;
		 -o-transition: 0.3s ease-in-out;
			transition: 0.3s ease-in-out;
}

a:hover img {
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.clear{
	clear:both;
}

.clearfix:after{
	content: "";
	display: block;
	clear: both;
}

.sp_none{
	display:none;
}

#style01{
	width:100%;
}



header{
	background: #006837;
}

.header01{
	display: flex;
	align-items: center;
	padding: 2vw 4vw;
}

.header_res{
	width: 21vw;
	margin-right: 3vw;
}

.header_res > div{
	border: 2px #fff solid;
	font-size: 3vw;
	font-weight: bold;
}

.header_res > div span{
	display: block;
	text-align: center;
}

.header_res01{
	padding: 1vw 2vw;
	color: #fff;
}

.header_res02{
	padding: 1vw 2vw;
	background: #fff;
	color: #006837;
}

.header_tel{
	width: 70vw;
}

.header_tel img{
	width: 100%;
}





.footer01{
	background: #006837;
}

.footer01_box{
	padding: 4vw;
}

.footer01_box_left{
	margin-bottom: 3vw;
	text-align: center;
}

.footer01_box_left img{
	width: 60%;
}

.footer01_box_right01{
	display: flex;
	margin-bottom: 3vw;
}

.footer_res{
	box-sizing: border-box;
	width: 22vw;
	border: 2px #fff solid;
	margin-right: 3vw;
	font-size: 3vw;
	font-weight: bold;
	text-align: center;
}

.footer_res01{
	padding: 1vw 2vw;
	color: #fff;
}

.footer_res02{
	padding: 1vw 2vw;
	background: #fff;
	color: #006837;
}

.footer_tel{
	width: 68vw;
}

.footer_tel01{
	margin-bottom: 3vw;
	color: #fff;
	font-size: 3vw;
	line-height: 1;
}

.footer_tel02{
	width: 100%;
}

.footer01_box_right02{
	color: #fff;
	font-size: 4vw;
	font-weight: bold;
	line-height: 1.4;
}

.footer02{
	padding: 4vw;
}

.footer02_left{
	margin-bottom: 4vw;
}

.footer02_left h2{
	padding: 2vw 3vw;
	margin-bottom: 3vw;
	background: #006837;
	font-size: 3.73vw;
	line-height: 1;
}

.footer02_left h2 img{
	height: 3.73vw;
}

.footer_access_box{
	margin-bottom: 2.8vw;
}

.footer_access_box h3{
	position: relative;
	padding-left: 1em;
	margin-bottom: 1vw;
	color: #006837;
	font-size: 4.26vw;
}

.footer_access_box h3:before{
	position: absolute;
	left: 0;
	content: "●";
}

.footer_access_text{
	padding-left: 1em;
	font-size: 3.46vw;
	line-height: 1.5;
}

.footer_access_text li:not(:last-child){
	margin-bottom: 2.4vw;
}

.footer_access_text h4{
	position: relative;
	padding-left: 1em;
	font-size: 3.46vw;
	font-weight: normal;
}

.footer_access_box h4:before{
	position: absolute;
	left: 0;
	content: "■";
}

.footer_access_text li div{
	padding-left: 1em;
	font-size: 3.2vw;
}

.footer_access_come{
	padding: 3vw 2vw;
	border-top: 1px #006837 solid;
	border-bottom: 1px #006837 solid;
	margin-top: 4vw;
	color: #006837;
	font-size: 3.73vw;
	font-weight: bold;
	line-height: 1;
	letter-spacing: 0.1em;
}

.footer02_right{
	position: relative;
	width: 92vw;
	height: 92vw;
}

.footer02_right iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}





#main{

}

.main_image{
	
}

.main_image img{
	width: 100%;
}

.section01_box01{
	padding: 5vw 4vw 10vw;
	background: url("./img/section01_bg.jpg") center top/100% no-repeat;
}

.section01_text{
	margin-bottom: 4vw;
	text-align: center;
}

.section01_text img{
	width: 80vw;
}

.section01_img{
	display: flex;
	justify-content: space-between;
}

.section01_img img{
	height: 42vw;
	border: 2px #fff solid;
}



.section02 h2{
	margin-bottom: 4vw;
	text-align: center;
}

.section02 h2 img{
	width: 80vw;
}

.section02_img01{
	margin-bottom: 5vw;
}

.section02_img01 img{
	width: 100%;
}

.section02_text01{
	margin-bottom: 5vw;
	text-align: center;
}

.section02_text01 img{
	width: 80vw;
}

.section02_box01{
	position: relative;
	box-sizing: border-box;
	padding: 4vw;
	border: 2px #006837 solid;
	margin: 0 4vw 5vw;
}

.section02_corner{
	position: absolute;
	width: 3vw;
	height: 3vw;
}

.section02_corner:before{
	position: absolute;
	content: "";
	display: block;
	width: 3vw;
	height: 3vw;
	background: #006837;
}

.section02_corner:after{
	position: absolute;
	content: "";
	display: block;
	width: calc(3vw - 2px);
	height: calc(3vw - 2px);
	background: #fff;
}

.section02_corner:nth-child(1){
	top: -2px;
	left: -2px;
}

.section02_corner:nth-child(1):before{
	top: 0;
	left: 0;
	border-radius: 0 0 3vw 0;
}

.section02_corner:nth-child(1):after{
	top: 0;
	left: 0;
	border-radius: 0 0 3vw 0;
}

.section02_corner:nth-child(2){
	top: -2px;
	right: -2px;
}

.section02_corner:nth-child(2):before{
	top: 0;
	right: 0;
	border-radius: 0 0 0 3vw;
}

.section02_corner:nth-child(2):after{
	top: 0;
	right: 0;
	border-radius: 0 0 0 3vw;
}

.section02_corner:nth-child(3){
	left: -2px;
	bottom: -2px;
}

.section02_corner:nth-child(3):before{
	left: 0;
	bottom: 0;
	border-radius: 0 3vw 0 0;
}

.section02_corner:nth-child(3):after{
	left: 0;
	bottom: 0;
	border-radius: 0 3vw 0 0;
}

.section02_corner:nth-child(4){
	right: -2px;
	bottom: -2px;
}

.section02_corner:nth-child(4):before{
	right: 0;
	bottom: 0;
	border-radius: 3vw 0 0 0;
}

.section02_corner:nth-child(4):after{
	right: 0;
	bottom: 0;
	border-radius: 3vw 0 0 0;
}

.section02_box01 h3{
	margin-bottom: 3vw;
	text-align: center;
}

.section02_box01 h3 img{
	width: 70vw;
}

.section02_box01 ul{
	font-size: 3.73vw;
}

.section02_box01 li{
	position: relative;
	box-sizing: border-box;
	padding-left: 1.1em;
	margin-bottom: 2vw;
}

.section02_box01 li:last-child{
	margin-bottom: 0;
}

.section02_box01 li:before{
	position: absolute;
	left: 0;
	content:"●";
}

.section02_box02{
	padding: 6vw 4vw;
	margin: 0 4vw 6vw;
	background: #b9ceeb;
}

.section02_box02_left{
	display: flex;
	flex-direction: column-reverse;
}

.section02_box02_left > div{
	margin-bottom: 6vw;
}

.section02_box02_leftimg01{
	text-align: center;
}

.section02_box02_leftimg01 img{
	width: 40vw;
}

.section02_box02_leftimg02{
	text-align: center;
}

.section02_box02_leftimg02 img{
	width: 80vw;
}

.section02_box02_comment{
	margin-top: 3vw;
	font-size: 2.66vw;
	line-height: 1.5;
}

.section02_box02_right img{
	width: 100%;
}

.section02_box03{
	position: relative;
	padding: 4vw;
	border: 2px #006837 solid;
	margin: 0 4vw 5vw;
	background: #fffef1;
}

.section02_box03 h3{
	margin-bottom: 4vw;
	text-align: center;
}

.section02_box03 h3 img{
	width: 100%;
}

.section02_box03 li{
	margin-bottom: 4vw;
}

.section02_box03 li:last-child{
	margin-bottom: 0;
}

.section02_box03_img{
	margin-bottom: 2vw;
}

.section02_box03_img img{
	width: 100%;
}

.section02_box03_text{
	min-height: 4.2em;
	font-size: 3.73vw;
	line-height: 1.4;
}













}